* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

.worldWonder-section{

    
    width: 60%;
    margin: 200px auto

}


.worldWonder-card > img{
    
    width:50%;
    height:50%
}

.worldWonder-card{
    width: 60%;
    height:400px;
    margin: 20px auto;
    justify-content: space-evenly
    
    
}


.button-section{

    width:70%
}

.btn{

  border-radius: 20px;
  background-color: #abc3c8; 
  color: rgb(45, 42, 42);
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 2px 2px;
  cursor: pointer;
}


