* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

.worldWonder-section{

    flex-wrap: wrap;
    width: max-content;
    margin: 200px auto

}


.worldWonder-section > img{

    width:40px;
    height:40px
}
