* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

.worldWonder-section{

    
    width: 60%;
    margin: 200px auto

}


.worldWonder-card > img{
    
    width:50%;
    height:50%
}

.worldWonder-card{
    width: 60%;
    height:400px;
    margin:auto
}
